// Fichero de estilos principal
// Aqui poner todas las hojas de estilos que usara tu web. No hay que añadir el guion bajo (-) antes del nombre del fichero.
// Porque SASS lo interpreta como un fichero parcial y no lo compila directamente a CSS.

@use "./views/index.scss";
@use "./views/App.scss";

//Cada componente que tenga estilos prpopios, añadirlos aqui

// @use "./components/Header.scss";
// @use "./components/Nav.scss";
// @use "./components/Footer.scss";

// Cada componente que tenga estilos propios, añadirlos aqui.
@use "./components/Header.scss";
@use "./components/Nav.scss";
@use "./components/Footer.scss";
@use "./components/ProductDetail.scss";
@use "./components/FavoriteList.scss";
@use "./components/Login.scss";
